<div class="row justify-content-around">
    <button class="col-3 btn btn-primary" (click)="this.servicio.orderAZ()">Order A-Z</button>
    <button class="col-3 btn btn-primary" (click)="this.servicio.orderData()">Order Data</button>
    <button class="col-3 btn btn-primary" (click)="this.servicio.reiniciar()">Reiniciar</button>
</div>
<div class="row mt-2">
    <table class="table table-striped col align-middle justify-content-center text-center">
        <thead>
          <tr>        
            <th scope="col">Nombre</th>
            <th scope="col">Cliente</th>
            <th scope="col">Precio</th>
            <th scope="col">Productos</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let presu of lista">    
                <td>{{presu.nombre}}</td>
                <td>{{presu.cliente}}</td>
                <td>{{presu.precio}}€</td>  
                <td><tr *ngFor="let prd of presu.productos">
                  <td>{{prd}}</td>
                </td>          
            </tr>      
        </tbody>
      </table>
</div>
