<form [formGroup]="paginas" >

    <div class="row">
        <label class="col-12 mb-2" >Numero de paginas</label>
        <app-paginas class="col-8"  [tipo]="'pagina'"></app-paginas>
        <button class="col-1 btn btn-info" (click)="modal.open(contenido)">i</button>
    </div>
     
    <div class="row">
        <label class="col-12 mb-2">Numero de idiomas</label>
        <app-paginas class="col-8" [tipo]="'idioma'"></app-paginas>
        <button class="col-1 btn btn-info" (click)="modal.open(contenido2)">i</button>  
    </div>
      
    
     
    
    
</form>
<ng-template #contenido let-modal>       
    <div class="modal-body">
        <p>Pon el numero de PAGINAS que quieres que tenga tu pagina web</p>
    </div>
</ng-template>

<ng-template #contenido2 let-modal>
    <div class="modal-body">
        <p>Pon el numero de IDIOMAS que quieres que tenga tu pagina web</p>
    </div>
</ng-template>

